.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 250px;
    background-color: #333;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
}

.sidebar.open {
    transform: translateX(0);
}

.toggle-button {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    z-index: 1500;
    background-color: #444;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    transition: left 0.3s ease;
}

.toggle-button:before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.toggle-button.open {
    left: 250px; /* Move button to the right by the width of the sidebar */
}

.toggle-button.open:before {
    transform: translateX(-50%) translateY(-50%) rotate(-135deg); /* Rotate chevron to point left */
}